azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-network
certifi
cffi
chardet
cryptography==3.4.7
idna==2.10
isodate==0.6.0
msal==1.12.0
msal-extensions==0.3.0
msrest==0.6.21
oauthlib==3.1.0
portalocker==1.7.1
pycparser==2.20
PyJWT
requests
requests-oauthlib
six
urllib3
